Repository City-of-Helsinki/unified-search: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, vitest-related

eslint:
  name: ESLint
  language: system
  entry: bash -lc 'graphql/strip-graphql-dir-prefix-from-args.sh "$@" | xargs -0 -r yarn --cwd graphql run eslint --fix'

prettier:
  name: Prettier
  language: system
  entry: bash -lc 'graphql/strip-graphql-dir-prefix-from-args.sh "$@" | xargs -0 -r yarn --cwd graphql run prettier --write'

vitest-related:
  name: Vitest related
  language: system
  entry: bash -lc 'graphql/strip-graphql-dir-prefix-from-args.sh "$@" | xargs -0 -r yarn --cwd graphql run vitest related --run'

feat(sources): add dynamic runtime compatibility for Elasticsearch 8 & 9
  .pre-commit-config.yaml
  sources/common/__init__.py
  sources/common/elasticsearch_compatibility.py
  sources/common/tests/__init__.py
  sources/common/tests/test_elasticsearch_compatibility.py
  sources/ingest/importers/base.py
  sources/ingest/importers/tests/conftest.py
  sources/pyproject.toml
  sources/requirements-dev.txt
  sources/requirements.in
  sources/requirements.txt
  sources/tests/test_es_health.py
Due: none

chore(graphql): upgrade all packages to latest minor versions
  graphql/package.json
  graphql/yarn.lock
Due: prettier, vitest-related

fix(graphql): make GraphQL release, add info to README
  README.md
  graphql/src/types.ts
Due: eslint, prettier, vitest-related

feat(sources): update dependencies to latest
  .pre-commit-config.yaml
  sources/requirements-dev.txt
  sources/requirements.txt
Due: none

feat(graphql): update all dependencies to latest, except @types/node→22
  graphql/package.json
  graphql/yarn.lock
Due: prettier, vitest-related

refactor(graphql): split ontology tree query & types into smaller parts
  graphql/src/datasources/es/api/getQueryResults/utils/makeOntologyTreeQuery.ts
  graphql/src/datasources/es/types.ts
Due: eslint, prettier, vitest-related

refactor(graphql): make searchFieldsBoostMapping clearer & more readable
  graphql/src/datasources/es/api/getQueryResults/constants.ts
Due: eslint, prettier, vitest-related

refactor(graphql): simplify getDefaultBoolQuery.ts functions
  graphql/src/datasources/es/api/getQueryResults/types.ts
  graphql/src/datasources/es/api/getQueryResults/utils/getDefaultBoolQuery.ts
Due: eslint, prettier, vitest-related

fix(graphql): use basic auth in authorization header with Elasticsearch
  graphql/src/datasources/es/__tests__/index.test.ts
  graphql/src/datasources/es/constants.ts
  graphql/src/datasources/es/index.ts
Due: eslint, prettier, vitest-related

refactor(graphql): refactor getOntologyQuery.ts for readability
  graphql/src/datasources/es/api/getQueryResults/utils/getOntologyQuery.ts
Due: eslint, prettier, vitest-related

test(graphql): add unit tests for getOntologyQuery.ts file's functions
  graphql/src/datasources/es/api/getQueryResults/utils/__tests__/__snapshots__/getOntologyQuery.test.ts.snap
  graphql/src/datasources/es/api/getQueryResults/utils/__tests__/getOntologyQuery.test.ts
Due: eslint, prettier, vitest-related

refactor(tests): rename getDefaultQuery to getDefaultBoolQuery in tests
  graphql/src/datasources/es/api/getQueryResults/utils/__tests__/__snapshots__/getDefaultBoolQuery.test.ts.snap
  graphql/src/datasources/es/api/getQueryResults/utils/__tests__/getDefaultBoolQuery.test.ts
Due: eslint, prettier, vitest-related

docs(graphql): add "Elasticsearch queries and algorithms" documentation
  graphql/README.md
Due: prettier, vitest-related

docs(graphql): document how search works
  graphql/README.md
  graphql/src/datasources/es/api/getQueryResults/utils/getDefaultBoolQuery.ts
  graphql/src/datasources/es/api/getQueryResults/utils/makeSuggestionsQuery.ts
  sources/ingest/importers/location/utils.py
Due: eslint, prettier, vitest-related

fix(deps): upgrade all dependencies to latest except @types/node to v22
  .pre-commit-config.yaml
  graphql/package.json
  graphql/yarn.lock
  sources/requirements-dev.txt
  sources/requirements-prod.txt
  sources/requirements.txt
Due: prettier, vitest-related

fix(graphql): allow apollo embeddable sandbox CDN URL in CSP connectSrc
  graphql/src/constants.ts
Due: eslint, prettier, vitest-related

fix(dependabot): update all packages to latest except @types/node to v22
  .pre-commit-config.yaml
  graphql/package.json
  graphql/yarn.lock
  sources/requirements-dev.txt
  sources/requirements.txt
Due: prettier, vitest-related

feat: add sorting by Culture and Leisure Division to unifiedSearch query
  graphql/README.md
  graphql/src/datasources/es/api/getQueryResults/types.ts
  graphql/src/datasources/es/api/getQueryResults/utils/__tests__/queryBuilder.test.ts
  graphql/src/datasources/es/api/getQueryResults/utils/__tests__/sortQuery.test.ts
  graphql/src/datasources/es/api/getQueryResults/utils/queryBuilder.ts
  graphql/src/datasources/es/api/getQueryResults/utils/sortQuery.ts
  graphql/src/resolvers/__tests__/getResolvers.test.ts
  graphql/src/resolvers/getUnifiedSearchVenueResolvers.ts
  graphql/src/resolvers/query/unifiedSearchResolver.ts
  graphql/src/schemas/location.ts
  graphql/src/schemas/query.ts
  graphql/src/types.ts
  sources/ingest/importers/location/api.py
  sources/ingest/importers/location/dataclasses.py
  sources/ingest/importers/location/importers.py
Due: eslint, prettier, vitest-related

refactor(graphql): partially deduplicate languages and sort orders
  graphql/src/constants.ts
  graphql/src/datasources/es/api/getQueryResults/utils/__tests__/createQuery.test.ts
  graphql/src/datasources/es/api/getQueryResults/utils/__tests__/queryBuilder.test.ts
  graphql/src/datasources/es/api/getQueryResults/utils/__tests__/sortQuery.test.ts
  graphql/src/datasources/es/api/getQueryResults/utils/queryBuilder.ts
  graphql/src/types.ts
Due: eslint, prettier, vitest-related

Path conditions:
  eslint: any of: ^graphql/ and \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  prettier: any of: ^graphql/ and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.(md|markdown|mdown)$, \.json$, \.(yaml|yml)$
  vitest-related: any of: ^graphql/
