Repository City-of-Helsinki/unified-search: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, vitest-related

eslint:
  name: ESLint
  language: system
  entry: bash -lc 'graphql/strip-graphql-dir-prefix-from-args.sh "$@" | xargs -0 -r yarn --cwd graphql run eslint --fix'

prettier:
  name: Prettier
  language: system
  entry: bash -lc 'graphql/strip-graphql-dir-prefix-from-args.sh "$@" | xargs -0 -r yarn --cwd graphql run prettier --write'

vitest-related:
  name: Vitest related
  language: system
  entry: bash -lc 'graphql/strip-graphql-dir-prefix-from-args.sh "$@" | xargs -0 -r yarn --cwd graphql run vitest related --run'

fix(graphql): fix score ordering with showCultureAndLeisureDivisionFirst
  graphql/src/datasources/es/api/getQueryResults/utils/__tests__/queryBuilder.test.ts
  graphql/src/datasources/es/api/getQueryResults/utils/__tests__/sortQuery.test.ts
  graphql/src/datasources/es/api/getQueryResults/utils/sortQuery.ts
Due: eslint, prettier, vitest-related

fix(docs): fix incorrect dropdown name in graphql's README
  graphql/README.md
Due: prettier, vitest-related

fix(graphql): fix sort by relevance, use asc name as secondary sort
  graphql/src/datasources/es/api/getQueryResults/utils/__tests__/queryBuilder.test.ts
  graphql/src/datasources/es/api/getQueryResults/utils/__tests__/sortQuery.test.ts
  graphql/src/datasources/es/api/getQueryResults/utils/sortQuery.ts
Due: eslint, prettier, vitest-related

refactor(graphql): simplify sortQuery func & retain same functionality
  graphql/src/datasources/es/api/getQueryResults/utils/sortQuery.ts
  graphql/src/datasources/es/constants.ts
  graphql/src/datasources/es/types.ts
Due: eslint, prettier, vitest-related

fix(graphql): use ID as tiebreaker when sorting by relevance
  graphql/src/datasources/es/api/getQueryResults/utils/__tests__/sortQuery.test.ts
  graphql/src/datasources/es/api/getQueryResults/utils/sortQuery.ts
Due: eslint, prettier, vitest-related

fix: test current version building
  graphql/src/index.ts
  sources/sources/settings.py
Due: eslint, prettier, vitest-related

fix(docker): freeze to using a working build of python-312-gdal image
  sources/Dockerfile
Due: none

feat: sort venues by descending event count after score
  graphql/src/datasources/es/api/getQueryResults/utils/__tests__/sortQuery.test.ts
  graphql/src/datasources/es/api/getQueryResults/utils/sortQuery.ts
  graphql/src/resolvers/__tests__/getResolvers.test.ts
  graphql/src/resolvers/getUnifiedSearchVenueResolvers.ts
  graphql/src/schemas/location.ts
  graphql/src/types.ts
  sources/ingest/importers/location/api.py
  sources/ingest/importers/location/dataclasses.py
  sources/ingest/importers/location/importers.py
  sources/ingest/importers/location/tests/test_api.py
  sources/ingest/importers/location/tests/test_location_importer_basics.py
  sources/ingest/importers/tests/conftest.py
  sources/ingest/importers/tests/mocks.py
  sources/ingest/importers/tests/test_fixtures.py
  sources/ingest/importers/utils/administrative_division.py
Due: eslint, prettier, vitest-related

fix(dependabot): update all packages to latest except @types/node to v22
  graphql/package.json
  graphql/yarn.lock
Due: prettier, vitest-related

docs: update documentation after adding Linked Events place endpoint use
  README.md
  graphql/README.md
  sources/ingest/README.md
  sources/ingest/importers/location/api.py
Due: prettier, vitest-related

feat: add/clarify logging in data importers
  sources/ingest/importers/administrative_division.py
  sources/ingest/importers/location/importers.py
  sources/ingest/importers/ontology_tree.py
  sources/ingest/importers/ontology_word.py
  sources/ingest/importers/utils/opening_hours.py
  sources/sources/settings.py
Due: none

fix(graphql): use console.info instead of console.log for output
  graphql/src/index.ts
Due: eslint, prettier, vitest-related

fix(docker): try to make volumes work with Windows/macOS/SELinux etc
  compose.yaml
  sources/Dockerfile
Due: none

fix(graphql): dependabot issues 145–146 by upgrading all to latest minor
  graphql/package.json
  graphql/yarn.lock
Due: prettier, vitest-related

chore(sources): remove elasticsearch 8/9 compatibility code as unneeded
  .pre-commit-config.yaml
  sources/common/__init__.py
  sources/common/elasticsearch_compatibility.py
  sources/common/tests/__init__.py
  sources/common/tests/test_elasticsearch_compatibility.py
  sources/ingest/importers/base.py
  sources/ingest/importers/tests/conftest.py
  sources/requirements-dev.txt
  sources/requirements.in
  sources/requirements.txt
  sources/tests/test_es_health.py
Due: none

feat(sources): support ES_USERNAME, ES_PASSWORD and multi-node ES_URI
  sources/common/__init__.py
  sources/common/elasticsearch.py
  sources/ingest/importers/base.py
  sources/ingest/importers/tests/conftest.py
  sources/ingest/importers/tests/test_fixtures.py
  sources/sources/settings.py
  sources/tests/test_es_health.py
Due: none

feat(graphql): switch from ES_URI credentials to ES_USERNAME+ES_PASSWORD
  graphql/src/datasources/es/__tests__/index.test.ts
  graphql/src/datasources/es/index.ts
Due: eslint, prettier, vitest-related

fix(tests): fix use of shared workflows, ci_working_directory → main
  .github/workflows/ci-graphql.yml
  .github/workflows/ci-sources.yml
Due: none

feat(graphql): use Elasticsearch client & support multi-node ES_URI
  graphql/package.json
  graphql/src/__tests__/utils.test.ts
  graphql/src/datasources/es/__tests__/index.test.ts
  graphql/src/datasources/es/api/getAdministrativeDivisions.ts
  graphql/src/datasources/es/api/getOntologyTree.ts
  graphql/src/datasources/es/api/getOntologyWords.ts
  graphql/src/datasources/es/api/getQueryResults/getQueryResults.ts
  graphql/src/datasources/es/api/getQueryResults/types.ts
  graphql/src/datasources/es/api/getQueryResults/utils/getDefaultBoolQuery.ts
  graphql/src/datasources/es/api/getQueryResults/utils/getOntologyFields.ts
  graphql/src/datasources/es/api/getSuggestions.ts
  graphql/src/datasources/es/index.ts
  graphql/src/resolvers/query/administrativeDivisionsResolver.ts
  graphql/src/resolvers/query/ontologyTreeResolver.ts
  graphql/src/resolvers/query/ontologyWordsResolver.ts
  graphql/src/resolvers/query/unifiedSearchCompletionSuggestionsResolver.ts
  graphql/src/resolvers/query/unifiedSearchResolver.ts
  graphql/src/types.ts
  graphql/src/utils.ts
  graphql/yarn.lock
Due: eslint, prettier, vitest-related

test(graphql): add test cases for getUnifiedSearchVenueResolvers
  graphql/src/resolvers/__tests__/getUnifiedSearchVenueResolvers.test.ts
  graphql/src/types.ts
Due: eslint, prettier, vitest-related

chore(linting): add commitlint configuration, make gitlint more similar
  .gitlint
  commitlint.config.mjs
Due: none

Path conditions:
  eslint: any of: ^graphql/ and \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  prettier: any of: ^graphql/ and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.(md|markdown|mdown)$, \.json$, \.(yaml|yml)$
  vitest-related: any of: ^graphql/
