Repository City-of-Helsinki/unified-search: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, vitest-related

eslint:
  name: ESLint
  language: system
  entry: bash -lc 'graphql/strip-graphql-dir-prefix-from-args.sh "$@" | xargs -0 -r yarn --cwd graphql run eslint --fix'

prettier:
  name: Prettier
  language: system
  entry: bash -lc 'graphql/strip-graphql-dir-prefix-from-args.sh "$@" | xargs -0 -r yarn --cwd graphql run prettier --write'

vitest-related:
  name: Vitest related
  language: system
  entry: bash -lc 'graphql/strip-graphql-dir-prefix-from-args.sh "$@" | xargs -0 -r yarn --cwd graphql run vitest related --run'

chore: add CODEOWNERS file
  CODEOWNERS
Due: none

chore(linting): add commitlint configuration, make gitlint more similar
  .gitlint
  commitlint.config.mjs
Due: none

fix: use latest gdal image
  sources/Dockerfile
Due: none

chore: dummy cahnge to trigger build
  sources/Dockerfile
Due: none

chore: remove unrelevant comment
  sources/Dockerfile
Due: none

fix: use latest gdal image (#236)
  sources/Dockerfile
Due: none

chore: test common ci fix
  .github/workflows/ci-sources.yml
Due: none

chore: try with slash at end of working-directory
  .github/workflows/ci-sources.yml
Due: none

ci: unify sonar configuration
  sources/sonar-project.properties
Due: none

chore: restrict requires-python to <3.13 in pyproject.toml
  sources/pyproject.toml
Due: none

build: add packageManager field for Yarn 1.22.22
  graphql/package.json
Due: prettier, vitest-related

chore: unify allowed commitlint prefixes
  .pre-commit-config.yaml
Due: none

deps: bump vite from 7.3.2 to 8.0.8 in /graphql
  graphql/package.json
  graphql/yarn.lock
Due: prettier, vitest-related

deps(graphql): bump vitest and coverage-v8 to 4.1.4
  graphql/package.json
  graphql/yarn.lock
Due: prettier, vitest-related

deps: remove unused @apollo/datasource-rest dependency
  graphql/package.json
  graphql/yarn.lock
Due: prettier, vitest-related

deps: remove unused eslint-config-prettier dependency
  graphql/package.json
  graphql/yarn.lock
Due: prettier, vitest-related

deps: update express to version 5.2.1
  graphql/package.json
  graphql/yarn.lock
Due: prettier, vitest-related

deps: update nodemon to version 3.1.14
  graphql/package.json
  graphql/yarn.lock
Due: prettier, vitest-related

deps(graphql): bump vite to 8.0.8 to fix security vulnerabilities
  graphql/yarn.lock
Due: vitest-related

deps(graphql): bump minimatch to fix ReDoS vulnerabilities
  graphql/yarn.lock
Due: vitest-related

deps(graphql): bump brace-expansion to fix DoS vulnerability
  graphql/yarn.lock
Due: vitest-related

deps(graphql): bump @apollo/subgraph to fix prototype pollution
  graphql/package.json
  graphql/yarn.lock
Due: prettier, vitest-related

ci: make sonar.projectKey lower case
  sources/sonar-project.properties
Due: none

ci: change pre-commit python version to be more general
  .pre-commit-config.yaml
Due: none

deps: bump sentry
  sources/requirements.txt
Due: none

deps: move uwsgi to main requirements
  sources/Dockerfile
  sources/README.md
  sources/requirements-prod.in
  sources/requirements-prod.txt
  sources/requirements.in
  sources/requirements.txt
Due: none

ci: add shellcheck to pre-commit
  .pre-commit-config.yaml
Due: none

fix: handle shellcheck error SC2199
  graphql/docker-entrypoint.sh
  sources/docker-entrypoint.sh
Due: vitest-related

feat: change logging format to JSON
  sources/.prod/uwsgi.ini
  sources/Dockerfile
  sources/requirements.in
  sources/requirements.txt
  sources/sources/settings.py
Due: none

feat: update uwsgi configuration
  sources/.prod/uwsgi.ini
  sources/Dockerfile
  sources/docker-entrypoint.sh
Due: none

feat: add sentry related headers to CORS_ALLOW_HEADERS
  sources/sources/settings.py
  sources/tests/test_cors.py
Due: none

deps: add django-environ
  sources/requirements.in
  sources/requirements.txt
Due: none

feat: add sentry cloud configuration
  sources/sources/settings.py
Due: none

fix(dockerfile): add correct expose port for production
  sources/Dockerfile
Due: none

Path conditions:
  eslint: any of: ^graphql/ and \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  prettier: any of: ^graphql/ and \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.(md|markdown|mdown)$, \.json$, \.(yaml|yml)$
  vitest-related: any of: ^graphql/
